<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Student Data</title>
</head>
<body>
    <h1>Update Student Data</h1>
    <form method="POST">
        <label for="RollNo">Roll No:</label>
        <input type="text" id="RollNo" name="RollNo" required><br><br>

        <label for="Name">Name:</label>
        <input type="text" id="Name" name="Name" required><br><br>

        <label for="English">English:</label>
        <input type="number" id="English" name="English" required><br><br>

        <label for="Maths">Maths:</label>
        <input type="number" id="Maths" name="Maths" required><br><br>

        <label for="Science">Science:</label>
        <input type="number" id="Science" name="Science" required><br><br>

        <input type="submit" value="Update">
    </form>
</body>
</html>